.quote {
    .quoteCard {
        margin-bottom: 1em;
    }

    > button {
        position: relative;
        margin: 0 auto;
        display: block;
    }

    .back {
        margin-top: .5em;
    }
}
