.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: max-height 1s ease-in-out;

    .top {
        display: flex;
        justify-content: space-between;

        span.tooltip {
            position: relative;

            &::before {
                max-width: unset !important;
                left: 0 !important;
            }
        }
    }
}
