.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: max-height 1s ease-in-out;

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span.tooltip {
            position: relative;
            z-index: 2;

            &::before {
                max-width: unset !important;
                left: -2em !important;
                line-height: 1.2em;
            }

            &::after {
                position: absolute;
                content: attr(data-progress);;
                left: 50%;
                transform: translateX(-50%);
                font-size: xxx-large;
                pointer-events: none;
            }
        }
    }
}
