.button {
    transition: background-color .2s, color .2s, transform .1s;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
    background-color: #f1f1f1;
    color: black;
    padding: 16px 30px;
    border-radius: 5px;

    &:hover {
        background-color: #222;
        color: white;
        transform: scale(1.1);
    }

    &:active {
        transform: scale(.98);
    }
}

.svgButton {
    transition: transform .2s ease-in-out;
    width: 1.5em;
    height: 1.5em;

    &:hover {
        cursor: pointer;
        transition: transform .1s ease-in-out;
        transform: scale(1.1);
    }

    &:active {
        transform: scale(.95);
    }
}
